.navbar {
    margin-top: 20px;
    margin-left: 26px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .navbar-heading {
    flex: 1;
    text-align: center;
    color: #000000 ;
    font-size: 24px;
    margin: 0;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }

  .nav-menu {
    background-color: #000000;;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }

  .nav-menu-items {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-menu-items .navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #000000;
}

.nav-item {
  padding: 8px 16px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  cursor: pointer;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}

.dropdown {
  display: none;
  flex-direction: column;
  background-color: #444;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px;
  width: 200px; /* Adjust as needed */
}

.dropdown.open {
  display: block;
}

.legend-image {
  width: 100%;
  height: auto;
}